{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">404 - No hemos encontrado lo que buscabas :(</h3>
  <img src="/img/sad_pikachu.gif" alt="sad_pikachu" style="max-width:600px;width=100%">
  {{> backhome}}
</div>