{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/dah.jpg"
      alt="Mua"
      width="250"
    >
    <div>
      <h2>Holi soy Diana</h2>
      <p>
        El profe me pide trabajar mas los diseños en mi app pero no  me gusta css... ayuda!!
      </p>
    </div>
  </div>
  {{> backhome}}
</div>